body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to top, #7d2cff, #fffef0 50%), 
              radial-gradient(circle at left bottom, #b34cff, transparent 30%),
              radial-gradient(circle at right bottom, #00cfff, transparent 30%);
  background-blend-mode: screen;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
}

/* 왼쪽 영역 */
.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 55px;
  justify-content: space-between;
  padding-bottom: 20px; /* 하단 여백 추가 */
}

.logo img{
  width: 300px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.video-area {
  width: 95%;
  flex: 1;
  background: #00000050;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus img{
  width: 50px;
}

.layout-menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.slot {
  flex: 1;
  border: 2px solid white;
  border-radius: 10px;
  margin: 5px;
  background: #b400ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 오른쪽 영역 */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 55px;
  margin-bottom: 20px;
  margin-right: 50px;
  padding: 15px;
  max-width: 10%;
  border-radius: 30px;
  background: #00000050;
}

.participant-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; /* 참가자가 많을 경우 스크롤 가능 */
}

.participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: black;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mute-btn {
  background: #00cfff;
  border: none;
  border-radius: 7px;
  padding: 5px 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.mute-btn:hover {
  background: #0099cc;
}

/* 컨트롤 영역 */
.controls {
  flex-shrink: 0;
  margin-top: 15px;
  width: 100%;
  height: 70px;
  background: #00000050;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mic-btn {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background: linear-gradient(135deg, #95dafa, #60aaff);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.mic-btn img {
  width: 24px;
  height: 24px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}