<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>ScreenMux</title>
</head>

<body>
    <button id="shareBtn">화면 공유하기</button>
    <button id="adminBtn">관리자 페이지</button>

    <script>
        document.getElementById("shareBtn").addEventListener("click", () => {
            window.location.href = "/share";
        });

        document.getElementById("adminBtn").addEventListener("click", () => {
            window.location.href = "/manage";
        });
    </script>
</body>

</html>