<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Multiflexer</title>
  <link rel="stylesheet" href="../css/administrator.css">
  <!-- Paho MQTT 클라이언트 라이브러리 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
</head>

<body>
  <div class="container">
    <!-- 왼쪽 영역 -->
    <div class="left">
      <div class="logo">
        <img src="../images/multiplexer_logo.png" alt="MULTIFLEXER 로고">
      </div>
      <div class="video-area">
        <div class="layout-menu hidden">
          <div class="layout-option">
            <img src="../images/1분할.png" alt="1분할">
          </div>
          <div class="layout-option">
            <img src="../images/2분할.png" alt="2분할">
          </div>
          <div class="layout-option">
            <img src="../images/3분할.png" alt="3분할">
          </div>
          <div class="layout-option">
            <img src="../images/4분할.png" alt="4분할">
          </div>
        </div>
        <div class="plus">
          <img src="../images/plus.png" alt="+">
        </div>
      </div>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="right">
      <div class="participant-area">
        <div class="participant" draggable="true" data-name="윤단비">
          <span>윤단비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="전아린">
          <span>전아린</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="김은비">
          <span>김은비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="정다원">
          <span>정다원</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="서유진">
          <span>서유진</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="윤단비">
          <span>윤단비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="전아린">
          <span>전아린</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="김은비">
          <span>김은비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="정다원">
          <span>정다원</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="서유진">
          <span>서유진</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="윤단비">
          <span>윤단비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="전아린">
          <span>전아린</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="김은비">
          <span>김은비</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="정다원">
          <span>정다원</span>
          <button class="mute-btn">공유 X</button>
        </div>
        <div class="participant" draggable="true" data-name="서유진">
          <span>서유진</span>
          <button class="mute-btn">공유 X</button>
        </div>
      </div>
      <div class="controls">
        <button class="mic-btn" title="클릭하여 녹음 시작">
          <img src="../images/mic-icon.png" alt="마이크" draggable="false">
        </button>
      </div>
    </div>
  </div>
  
  <!-- JavaScript 파일들을 순서대로 로드 -->
  <script src="../js/voice_handler_google.js"></script>
  <script type="module" src="../js/administrator.js"></script>
</body>

</html>